<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProductACostParameter" value=".22"/>
    <add key="ProductABaseCost" value="60"/>

    <add key="ProductBCostParameter" value=".30"/>
    <add key="ProductBBaseCost" value="800"/>
    <add key="ProductBStaticConsumption" value="4000"/>
  </appSettings>
</configuration>